header {
    position: sticky;
    z-index: 999;
    top: 0;
}
nav {
    display: flex;
    position: sticky;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(187deg, rgba(111, 110, 110, 0.663) 0%, rgba(140, 247, 238, 0.408) 50%, rgba(138, 138, 138, 0.66) 100%);
    border-radius: 20px;
    box-shadow: 2px 2px 1px azure;
    height: 110px;
}

.navmenu {
    margin-top: 4%;
    margin-left: 2%;
    font-size: large;
}

.log {
    display: flex;
    padding: 10px;
    margin-top: 2%;
    margin-left: 38%;
    font-size: large;
}

nav a {
    text-decoration: none;
    font-weight:light;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 2px azure;
    text-shadow: 2px 2px 2px azure;
}

nav a:hover {
    box-shadow: 3px 3px 2px azure;
    transition: 0.2s;
}

#logo {
    display: flex;
    margin: 20px;
    margin-left: 60px;
    box-shadow: 2px 1px 1px azure;
    border-radius: 20px;
}

#logo h1 {
    margin: 10px;
    margin-top: 35px;
    text-shadow: 2px 1px 1px rgb(213, 213, 213);
}

span {
    color: red;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(187deg, rgba(99, 98, 98, 0.663) 0%, rgba(123, 255, 244, 0.408) 50%, rgba(133, 133, 133, 0.66) 100%);
}

#main {
    background-image: url(styles/icons/background.webp);
    background-position-y: -550px;
    border-radius: 20px;
}


body h2 {
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    text-shadow: 2px 2px 1px azure;
}

body h3 {
    font-family: 'benton_sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 1px azure;
    padding-top: 20px;
}

#stick {
    height: 2px;
    width: 80%;
    margin-top: 35px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: azure;
    box-shadow: 1px 1px 5px azure;
}

.searchdiv {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    margin-top: 30px;
}

#searchinput {
    text-align: center;
    border: none;
    padding: 10px;
    width: 370px;
    height: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#searchbutton {
    border: none;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 20px;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

#searchbutton img {
    padding: 10px;
}

#searchbutton img:hover {
    scale: 1.4;
    transition: 0.3s;
    border-top-right-radius:20px ;
}

.contacts {
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
    padding-bottom: 100px;
    margin-left: 270px;
    margin-right: 270px;
}

.cases {
    border-style:groove;
    border-color: azure;
    border-radius: 10px;
    text-align: center;
    padding:10px;
    height: 150px;
    width: 190px;
}

.cases:hover {
    scale: 1.2;
    cursor: pointer;
    transition: 0.6s;
    box-shadow: 2px 2px 15px azure;
}

footer {
    margin-top: 1%;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    background: rgb(140, 140, 140);
    background: linear-gradient(187deg, rgba(133, 132, 132, 0.663) 0%, rgba(99, 239, 227, 0.408) 50%, rgba(148, 147, 147, 0.66) 100%);
    
}

footer a {
    color: black;
    text-shadow: 2px 2px 2px azure;
    font-size: large;
}
