header {
    position: sticky;
    z-index: 999;
    top: 0;
}
nav {
    display: flex;
    position: sticky;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(187deg, rgba(111, 110, 110, 0.663) 0%, rgba(140, 247, 238, 0.408) 50%, rgba(138, 138, 138, 0.66) 100%);
    border-radius: 20px;
    box-shadow: 2px 2px 1px azure;
    height: 110px;
}

.navmenu {
    margin-top: 4%;
    margin-left: 2%;
    font-size: large;
}

.log {
    display: flex;
    padding: 10px;
    margin-top: 2%;
    margin-left: 38%;
    font-size: large;
}

nav a {
    text-decoration: none;
    font-weight:light;
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 2px azure;
    text-shadow: 2px 2px 2px azure;
}

nav a:hover {
    box-shadow: 3px 3px 2px azure;
    transition: 0.2s;
}

#logo {
    display: flex;
    margin: 20px;
    margin-left: 60px;
    box-shadow: 2px 1px 1px azure;
    border-radius: 20px;
}

#logo h1 {
    margin: 10px;
    margin-top: 35px;
    text-shadow: 2px 1px 1px rgb(213, 213, 213);
}

span {
    color: red;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(187deg, rgba(99, 98, 98, 0.663) 0%, rgba(123, 255, 244, 0.408) 50%, rgba(133, 133, 133, 0.66) 100%);
}

body h2 {
    text-align: center;
    text-shadow: 2px 2px 2px azure;
}
<<<<<<< Updated upstream
=======
#stick {
    height: 2px;
    width: 80%;
    margin-top: 35px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: azure;
}

body h2 {
    text-align: center;
    text-shadow: 2px 2px 2px azure;
}

#main {
    display: flex;
    padding: 10px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px azure;
    background: rgb(0,0,0);
    background: linear-gradient(187deg, rgba(111, 110, 110, 0.663) 0%, rgba(140, 247, 238, 0.408) 50%, rgba(138, 138, 138, 0.66) 100%);
}

#main p {
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 15px;
    text-shadow: 1px 1px 1px azure;
    box-shadow: 2px 2px 2px azure;
    font-size: 16px;
    background: rgb(0,0,0);
    background: linear-gradient(187deg, rgba(111, 110, 110, 0.663) 0%, rgba(140, 247, 238, 0.408) 50%, rgba(138, 138, 138, 0.66) 100%);
}

#main img {
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 2px azure;
}

#main img:hover {
    scale: 1.2;
    box-shadow: 7px 7px 5px azure;
    transition: 0.4s;
}
>>>>>>> Stashed changes

#container2 h2{
    text-align: center;
    text-shadow: 2px 2px 2px white;
}

#midcon1 {
    margin-left: 50px;
    margin-right: 200px;
    margin-top: 3%;
    border-radius: 15px;
    display: flex;
    background: rgb(140, 140, 140);
    background: linear-gradient(187deg, rgba(133, 132, 132, 0.663) 0%, rgba(99, 239, 227, 0.408) 50%, rgba(148, 147, 147, 0.66) 100%);
}

#midcon1 ul {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 30px;
    padding: 10px;
    text-shadow: 1px 1px 2px azure;
    font-weight: bold;
    font-size: 15px;
}

#midcon1 img {
    border-radius: 15px;
}  

#midcon1 img:hover {
    scale: 1.2;
    cursor: pointer;
    box-shadow: 5px 5px 5px azure;
    transition-duration: 0.3s;
    
}


#skiid {
    margin-left: 150px;
    margin-right: 60px;
    margin-top: 2%;
    border-radius: 15px;
    display: flex;
    background: rgb(140, 140, 140);
    background: linear-gradient(187deg, rgba(133, 132, 132, 0.663) 0%, rgba(99, 239, 227, 0.408) 50%, rgba(148, 147, 147, 0.66) 100%);
}

#skiid ul {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 200px;
    padding: 10px;
    text-shadow: 1px 2px 1px azure;
    font-weight: bold;
}

#skiid img {
    border-radius: 15px;
    margin-left: 100px;
}  

#skiid img:hover {
    scale: 1.2;
    cursor: pointer;
    box-shadow: 5px 5px 2px azure;
    transition-duration: 0.3s;
}

#snowmobileid {
    display: flex;
    margin-left: 60px;
    margin-right: 150px;
    margin-top: 2%;
    border-radius: 15px;
    background: rgb(140, 140, 140);
    background: linear-gradient(187deg, rgba(133, 132, 132, 0.663) 0%, rgba(99, 239, 227, 0.408) 50%, rgba(148, 147, 147, 0.66) 100%);
}

#snowmobileid ul {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 100px;
    padding: 10px;
    text-shadow: 1px 2px 1px azure;
    font-weight: bold;
}

#snowmobileid img {
    border-radius: 15px;
    margin-left: 0px;
}  

#snowmobileid img:hover {
    scale: 1.2;
    cursor: pointer;
    box-shadow: 5px 5px 2px azure;
    transition-duration: 0.3s;
}

#jeepid {
    margin-left: 150px;
    margin-right: 60px;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 15px;
    display: flex;
    background: rgb(140, 140, 140);
    background: linear-gradient(187deg, rgba(133, 132, 132, 0.663) 0%, rgba(99, 239, 227, 0.408) 50%, rgba(148, 147, 147, 0.66) 100%);
}

#jeepid ul {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 200px;
    padding: 10px;
    text-shadow: 1px 2px 1px azure;
    font-weight: bold;
}

#jeepid img {
    border-radius: 15px;
    margin-left: 100px;
}  

#jeepid img:hover {
    scale: 1.2;
    cursor: pointer;
    box-shadow: 5px 5px 2px azure;
    transition-duration: 0.3s;
}

footer {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background: rgb(140, 140, 140);
    background: linear-gradient(187deg, rgba(133, 132, 132, 0.663) 0%, rgba(99, 239, 227, 0.408) 50%, rgba(148, 147, 147, 0.66) 100%);
}

footer a {
    color: black;
    text-shadow: 2px 2px 2px azure;
    font-size: large;
}